<div class="col-sm-4 well">
  <h5 class="area-label"><i class="fa fa-fw fa-toggle-up fa-2x"></i> Bill Acceptor</h5>

  <p>
    <button class="btn btn-lg btn-block">
      <span class="fa-stack fa-lg">
        <i class="fa fa-toggle-up fa-stack-2x" style="top: -3px; font-size: 1.5em"></i>
        <i class="fa fa-money fa-large fa-rotate-90 fa-stack-1x" style="top: 14px"></i>
      </span>

      <b>Drag Bills Here</b>
    </button>
  </p>

  <ul class="list-inline">
    <li><button class="btn btn-sm btn-success bill-btn">C$5 CAD</button>
    <li><button class="btn btn-sm btn-success bill-btn">$5 USD</button>
    <li><button class="btn btn-sm btn-success bill-btn">NZ$5 NZD</button>
    <li><button class="btn btn-sm btn-success bill-btn">&euro;5 EUR</button>
    <li><button class="btn btn-sm btn-success bill-btn">&euro;10 EUR</button>
  </ul>

</div>

