<div ng-controller="CKReadCtrl">
  <form novalidate class="form-horizontal" role="form" name="apikeys_form"
            ng-model-options="{ debounce: 1000 }">
    <div class="form-group">
      <label class="col-sm-2 control-label">API Key / Secret</label>

      <div class="col-sm-4">
        <input type="text" class="form-control" ng-model="auth.api_key"
            placeholder="Kxxxxxxxx-xxxxxxxx-xxxxxxxxxxxxxxxx">
      </div>
      <div class="col-sm-4">
        <input type="password" class="form-control" ng-model="auth.api_secret"
            placeholder="Sxxxxxxxx-xxxxxxxx-xxxxxxxxxxxxxxxx">
      </div>
      <div class="col-sm-2">
        <span ng-show="accounts_ok">
          <i class="fa fa-check-square fa-2x"></i>
        </span>
        <span ng-hide="accounts_ok">
          <i class="fa fa-frown-o fa-2x"></i>
        </span>
      </div>
    </div>
  </form>
</div>
