<div ng-controller="CKAuthCtrl">
  <form novalidate class="form-horizontal" role="form" name="apikeys_form"
            ng-model-options="{ debounce: 1000 }" >
    <div class="form-group">
      <label class="col-sm-2 control-label">API Key / Secret</label>

      <div class="col-sm-4">
        <input type="text" class="form-control" ng-model="auth.api_key"
            placeholder="Kxxxxxxxx-xxxxxxxx-xxxxxxxxxxxxxxxx">
      </div>
      <div class="col-sm-4">
        <input type="password" class="form-control" ng-model="auth.api_secret"
            placeholder="Sxxxxxxxx-xxxxxxxx-xxxxxxxxxxxxxxxx">
      </div>
      <div class="col-sm-2">
        <span ng-show="auth_ok">
          <i class="fa fa-check-square fa-2x"></i>
        </span>
        <span ng-hide="auth_ok">
          <span class="fa-stack">
            <i class="fa fa-square fa-stack-2x"></i>
            <i class="fa fa-times fa-stack-1x fa-inverse"></i>
          </span>

        </span>
      </div>
    </div>
  </form>
</div>
