<style>
.all-center {
    text-align: center;
}

</style>
<div class="text-center panel panel-info">
  <div class="panel-heading">
    <h4 class="panel-title">Transaction: Buying {{txn.coin_type.name}}</h4>
  </div>

  <div ng-switch="txn.method" class="panel-body">
    <i class="fa fa-arrow-right"></i>
    <span ng-switch-when="qr" ng-show="txn.dest_pubkey">
      Sending to address:
      <br><code>{{txn.dest_pubkey}}</code>
    </span>

    <span ng-switch-when="paper">
      Printed Voucher
    </span>

    <span ng-switch-when="email">
      Email voucher to:
      <br>
        <code ng-show="txn.dest_email">{{txn.dest_email}}</code>
        <em ng-hide="txn.dest_email">(need valid email)</em>
    </span>

    <span ng-switch-when="sms">
      SMS voucher to:
      <br>
        <code>{{txn.dest_phone}}</code>
        <em ng-hide="txn.dest_phone">(need phone #)</em>
    </span>

    <span ng-switch-default>(where to?)</span>
  </div>

  <ul class="list-group" ng-show="txn.deposit_list.length">
    <li class="list-group-item">
        <strong>Deposit Amount</strong>
    </li>

    <li class="list-group-item">
        <table class="table table-condensed pdg-no-border">
          <tbody>
            <tr ng-repeat="bb in txn.deposit_list track by $index">
              <td class="text-right" width="50%">{{bb.sign}} {{bb.amount}}
              <td class="text-left" width="50%">{{bb.cct}}
            </tr>
        </table>
    </li>

    <li class="list-group-item">
      <strong>Your {{txn.coin_type.name}}s</strong>
    </li>

    <div class="panel-body">
      <p class="lead">
        {{txn.coin_type.sign}} {{ current_quote() }}
      </p>
      <p ng-show="txn.coin_type.code == 'BTC'">
          {{ (current_quote() *1e6) | number:0 }} bits
      </p>
    </div>

  </ul> 
</div>
