<!-- shown as the contents of the screen area. Main focus of UI interactions. -->

<p class="lead">Welcome To Your Local Crypto Dispensory</p>

<style>
.step-hdr {
}
.step-hdr > span {
}
.step-body {
    margin-left: 3em;
}
</style>

<p>Purchase cryptocurrencies in just a few easy steps:</p>

<h4 class="step-hdr"><span>1.</span> Pick currency</h4>
<div class="step-body">
  <div ng-hide="txn.coin_type">
    <div class="btn-group" data-toggle="buttons">
      <label class="btn btn-default"
          ng-repeat="cct in currencies" for="pick_{{cct.code}}">
        <input type="radio" class="btn btn-default"
              ng-model="txn.coin_type" 
              ng-value="cct"
              id="pick_{{cct.code}}"
              name="pick_{{cct.code}}">
        <b>{{cct.sign}}</b> {{cct.name}} <small>{{cct.code}}</small>
      </label>
    </div>
  </div>
  <span ng-show="txn.coin_type">
    <i class="fa fa-check fa-2x"></i> Buying <b>{{txn.coin_type.name}}</b> today!
  </span>
</div>

<!--
<pre class="bs-example-scope">trans.coin_type: {{currencies[txn.coin_type | json}};</pre>
<pre class="bs-example-scope">debug: {{currencies | json}};</pre>
-->

<h4 class="step-hdr"><span>2.</span> Pick delivery method</h4>
<div class="step-body">

  <div class="form-group">

    <div class="btn-group" ng-model="txn.method" bs-radio-group>
      <label class="btn btn-default"><input type="radio" class="btn btn-default" value="qr">
        Scan QR
      </label>
      <label class="btn btn-default"><input type="radio" class="btn btn-default" value="paper">
        Paper Voucher
      </label>
      <label class="btn btn-default"><input type="radio" class="btn btn-default" value="email">
        Email
      </label>
      <label class="btn btn-default"><input type="radio" class="btn btn-default" value="sms">
        SMS
      </label>
    </div>
  </div>

  <div ng-switch="txn.method">
    <div class="form-group" ng-switch-when='email'>
      <label>Your Email Address</label>
      <input type="email" class="form-control" id="email" placeholder="email@example.com">
    </div>

    <div class="form-group" ng-switch-when='sms'>
      <label>Your Phone Number (for SMS)</label>
      <input type="phone" class="form-control" id="phone" placeholder="+1 123 457645">
    </div>

    <div class="" ng-switch-when='paper'>
      <p>
        <em>A paper receipt will be printed at the conclusion of the transaction.</em>
      </p>
    </div>

    <div class="" ng-switch-when='qr'>
      <p>
        <em>Scan the QR code for your wallet below.</em>
      </p>
    </div>
  </div>
            
<!-- <pre class="bs-example-scope">$scope.method = {{method | json}};</pre> -->
            
    </div>
</div>


<h4 class="step-hdr"><span>3.</span> Insert cash</h4>
<div class="step-body">
</div>



<h4 class="step-hdr"><span>4.</span> Live free with crypto!</h4>
<div class="step-body">
</div>
